.productsH1 {
  color: white;
  text-align: center;
  height: 6rem;
  background-color: rgb(196, 196, 196);
  line-height: 6rem;
}

.productImg {
  max-height: 50%;
}

.card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  min-height: 35rem !important;
  border: 2px solid grey;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.col-md-4 {
  border-radius: 10px;
}

.details {
  text-decoration: none;
  color: rgb(187, 25, 25);
}

.card-title {
  text-align: center;
}
